.name {
    font-weight: 600;
    font-size: 30px;
}

.info {
    background: #F2F2F2;
    width: 30%;
    padding-left: 10px;
}

.description {
    font-style: italic;
    margin: 15px 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}